@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');
/*IMPORT FONTS IN ONE FILE*/
/*nav bar styling*/



/*scroll bar */
/* width */
::-webkit-scrollbar {
    width: 0.7em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6b7463; 
  }
   
  /* Handle */

  ::-webkit-scrollbar-thumb {
    background: #3b4d31; 
  }
  
  /* Handle on hover */

  ::-webkit-scrollbar-thumb:hover {
    background: #75826e;}
body{
    background-image: url(assets/tsbg.png);
 
    
    
    

}

main{
    display: flex;
    flex-direction: column;
}
/*nav  bar* dynamic  creation */

header{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    font-family: 'IM Fell DW Pica', serif;
    font-size: larger;
    color: black;
    text-decoration: none;
  
}
.navTitle{
    text-decoration: none;
 padding-top: 15%;
 padding-left: 20%;
 color: inherit;
}
nav{
    display: inline-flex;
position: absolute;
left: 77%;
}

.ulNav{
    display: inline-flex;
    text-decoration: none;
    list-style: none;


}
.liNav{
    padding-left: 20px;
    padding-right: 20px;
}
.aNav{
    text-decoration: none;
    color: inherit;
}
.aNav:hover{
    color: #5c6a55;
    text-decoration: underline;
}
.aNav :active{
    color: #5c6a55;
    text-decoration: underline;
}

footer{
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    font-size: smaller; 
    color: #5c6a55;


}

/*footer*/
.universalFoot{
    position: relative;
    bottom: 0;
}
.ulFoot{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: inherit;
 

}
.liFoot{
    padding-right: 10px;
}
.aFoot{
    color: #5c6a55;
    text-decoration: none;

}
.aFoot :hover{
    text-decoration: underline;
    color: black;
}

/*//////////////////////////////////////////////////////////////////////////////////////home page///////////////////////////////////////////////////////////////// */
h1{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 36px;

}
#homeIntro{
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    font-size: larger; 
    text-align: center;
}
#subIntro{
    font-size: smaller;
    color: rgba(0, 0, 0, 0.687);
}

#displayName{
    font-style: italic;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    font-family: 'IM Fell DW Pica', serif; 
    font-style: italic;
    background-color: #757c71;
    border: 0px;
    border-radius: 30px;
    padding: 15px;
    width: 200px;
}
button:hover{
    background-color: #757c7179;
}
#loginImg{
    width: 400px;
}
#introImg{
    
    max-height: 500px;
}
/*data art*/
#enterArt{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nodeBubble{
    stroke: black;
    stroke-width: 1px;
}
#nodeshortBubble{
    stroke: black;
    stroke-width: 1px;
}

#bubbleTool{
    position: absolute;
    background-color: black;
    color: rgb(78, 66, 66);
    font-family: 'IM Fell DW Pica', serif;
    opacity: 1;
    transform: translateX(-50%);
    transform: translateY(-60%);

}

.d3-charts :hover{
 background-color: rgba(255, 255, 255, 0);
}
#enterSvg{
align-self: center;
}
 
  

 #backLong #backShort #backTop #backFolklore #backEvermore :hover{
    color: #5c6a55;
    text-decoration: underline;
   }
 #enterArt{
    display: none;
 }
 #shortArt{display: none;}
 #shortBut{display:none;}

 #taylorTopTracks{display: none;}

 #taylorTopBut{display: none;}

 #toptrackLi{
    font-family: 'Overpass Mono', monospace;

 }
 #folkloreBut{
    display: none;
 }
    #folkloreArt{
    display: none;
  }
  #evermoreArt{
    display: none;
  }
  #evermoreBut{
    display: none;
  }
  #midnightsArt{
    display: none;
  }
  #midnightsBut{
    display: none;
  }
  #restart{
    display: none;
  }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////blog selection*/

h1{
    display: flex;
    align-self: center;
    justify-content: center;
}
article{
    display: flex;
    flex-direction: row;
    border-width: 5px;
   padding-top: 2%;
   padding-bottom: 2%;
}
article:hover{
    background-color: #5c5c5c8b;
}
#blogOneImg{
    width: 100px;
    
}
h2{
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    color: black;
    padding-left: 5%;  
    padding-right: 5%;
}
#blogLinks{
    text-decoration: none;
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    color: inherit;
    
}
#blogLinks:hover{
    color:#5c6a55
}
#hr1{
    border: 2px solid black;
    background-color: black;
 transform: rotate(30deg);
}


/*/////////////////////////////////////BLOG/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*blog template for all blogs*/
/*mini nav*/
#btHeading{
    display: flex;
    align-self: center;
    justify-content: center;
}
.blogQuickSelect{
    margin: 0;
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  font-family: 'IM Fell DW Pica', serif;
  max-height: 30px;
color: inherit;
    padding: 0;
}
#blogQuickUl{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.blogQuickSelect ul li a {
    font-size: 12px;
  text-decoration: none;
  list-style: none;
   padding: 0;
    color: black;
   
    max-height: 30px;
   
}
#aBTR{
    color: #000000;
    
    font-weight: 300;
    font-family: 'IM Fell DW Pica', serif;

}
#aBT{
padding-top: 10px;
}
#refBut{
    background-color: rgb(125, 125, 125);
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}

/*blog info*/

#hr2{
 margin-right: 10%;
  background-color: black;
}

#blogInfo{
   margin-left: 10%;
   font-family: 'IM Fell DW Pica', serif;
   font-size: large;
   color: rgb(115, 115, 115);
}
.blogPostList{
    list-style: circle;
    display: flex;
    flex-direction: column;

}
#point{
    font-size: 20px;
}
/*main text*/

#blogMain{
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 5%;
   padding-top: 5%;
background-color: rgba(255, 255, 255, 0.592);
   font-family: 'Overpass Mono', monospace;
}


/*reference list*/ 

#referenceList ol li a {
    display: flexbox;
    flex-direction: column;
    padding: 1em;
}
#referenceList{
    display: flexbox;
    flex-direction: column;
    background-color: #7f885766;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    padding: 1em;

    font-family: 'Overpass Mono', monospace;
    line-height: 200%;
}

/*buttons*/ 

#buttonNav{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1em;
    background-color: none;
    text-decoration: none;
    color: inherit;
}
#buttonNav a{
    text-decoration: none;
    color: black;
}
#buttonNav button{
    margin: 1em;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*design*/

#designImg{
    width: 100px;
    
}
#designLinks{
    text-decoration: none;
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    color: inherit;
    
}
#designLinks:hover{
    color:#5c6a55;}

    /*/////////////////////////////////////////////////////////////////////////////////////////DATAVISUALIZATIONS///////////////////////////////////////////////////////////////////////*/
/*data static and interactive*/
#dataImg{
    width: 100px;
    
}
#dataLinks{
    text-decoration: none;
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    color: inherit;
    
}
#dataLinks:hover{
    color:#5c6a55;

}

    .bar:hover{
        fill: rgb(93, 81, 81);
    }


    #tooltip{
        position:absolute;
        width: 200px;
        height: auto;
        padding: 10px;
        background-color: #5c6a55;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    }
    
    #tooltip p{
        margin: 0;
        font-family: 'IM Fell DW Pica', serif;
        font-size: 16px;
        line-height: 20px;

    }


  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wireframes*/
  #authMain{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
  .wfMain{
   margin-left: 10%;
   margin-right: 10%;
   background-color: rgb(255, 255, 255);
   padding-left: 5%;
   padding-right: 5%;
   border-radius: 3px;
  }

h3{
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    color: black; 
    justify-self: center;
    justify-content: center;
}
h4{
    font-family: 'IM Fell DW Pica', serif;
    justify-self: center;
}
#wfSection{
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
#wfSection ol li{
    list-style: none;
    
}
#wfA{
    text-decoration: underline;
}
#wfImg{
    max-width: 600px;

}
#wfAn{
    max-block-size: 40%;
}
 #wfHR{
    border: 2px solid black;
    background-color: black;
 }
 /*slider*/
.slider {
    width: 600px;
    height: 600px;
  position: relative;
  
  }
  .slide {
    width: 600px;
    height: 500px;
    background-size: cover;
    
    animation: fade 1.5s;
    display: none;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    
    top: 50%;
   
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    transition: 0.6s ease;
   
  }
  .next {
    right: 0;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(202, 237, 197, 0.5);
  }
  .designguideMain{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgba(252, 252, 252, 0.494);
    max-width: 90%;
    margin-left: 5%;
    box-shadow: outset;
  }
  #dgImg{
    max-width: 80%;
    padding-left: 10%;
  }
  #dgTitle{
    align-self: center;
    justify-self: center;
    color: black;
  }
  #dgAn{
    max-width: 80%;
    padding-left: 10%;
    font-family: 'Overpass Mono', monospace;
    color: black;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
/*//////////////    MEDIA QUERIES ////////////////////////////////////////////////////////////////////////////////////////////// /////////////*/

@media only screen and (max-width:768px ) {
   
.navTitle{
    position: relative;
margin-top: 10%;
    padding-left: 5%;
}
.liNav{
    padding-left: 15%;
    padding-right: 15%;
}
.aNav:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
    nav{
        position: absolute;
        left: 60%;
    }
    #hr1{ display: none;}
    article{
max-width: 90%;
padding-left: 5%;
        border: solid black;
        
       
        margin-bottom: 5px;
    }
    #introImg{
        max-height: 300px;
    }
    button{
        padding: 5px;
    }
    #homeIntro{
        font-size: medium;
    }
    footer{
       transform: translateY(-20%) ;
      
    }
    .blogmain{
display: flex;
align-content: center;
justify-content: center;
    }
    #blogTitle{
        padding-left: 20%;
    }
    #referenceList{
        max-width: 80;
        padding: 10px;
       margin: 0;
       align-self: center;
       justify-self: center;
    }
}

 